@import '../../layout/css/mixin.scss';

.rs-projects{
	&__swiper-bottom{
		margin-top: u(40);
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.swiper-slide{
		height:auto;
	}
	&__swiper-prev,
	&__swiper-next{
		background: transparent;
		border: 0 solid;
		width: u(57);
		aspect-ratio: 1/1;
		padding: 0;
		margin: 0;
		transition: background 0.6s,opacity 0.6s;
		border-radius: 50%;
		svg{
			width: 100%;
			height: 100%;
		}
		circle{
			transition: all 0.6s;
		}
		&:hover{
			circle{
				fill:#d7006f;
				fill-opacity: 1;
			}
			color: #fff;
		}
	}
	&__swiper-pagi{
		margin-left: auto;
		margin-right: auto;
		gap:u(16);
		color: var(--cvet-klientov);
		display: flex;
		flex-direction: row;
		
    justify-content: center;
		.swiper-pagination-bullet-ellipsis,
		.swiper-pagination-bullet {
			
			cursor: pointer;
			opacity: 1;
			width: u(42);
			height: u(42);
			background: transparent;
			line-height: u(42);
			text-align: center;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: u(21);
			line-height: 160%;
			&.swiper-pagination-bullet-active{
				color: #fff;background: var(--cvet-klientov);
			}
		}
		.swiper-pagination-bullet-ellipsis{
			pointer-events: none
		}
	}
}

.rs-project{
	@include br;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:u(0);
	background: #f5f5f5;
	@include tablet{
		grid-template-columns: 1fr;
	}
	&__text{
		padding: u(56) u(40);
		p{
			margin-bottom: u(8);
			&:last-child{
				margin-bottom: 0
			}
		}
		ul{margin-top: u(25);
			margin-bottom: u(43);
		}
	}
	&__text-item{
		margin-top: u(24);
		&:has(.btns){
			margin-top: u(12);
			.btns{
			margin-top: u(12);
			}
		}
	}
	&__img-wrap {
		@include br;
		overflow: hidden;
		position: relative;
		@include tablet{
			aspect-ratio: 4/3;
		}
		img{
			position: absolute;
			left: 0;
			top:0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}