.rs-projects.block(data-aos = "fade-up")
	.block__head 
		h2 Умный дом под ключ: проекты 
		.block__decor(data-x="l" data-y="b" type="5")
		.block__decor(data-x="r" data-y="t" type="6")
	.block__body
		.swiper.rs-projects__swiper
			.swiper-wrapper
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
				.swiper-slide.rs-project
					.rs-project__text
						h3 Квартира в Санкт-Петербурге
						.text
							.rs-project__text-item
								p <b>Площадь: </b> 70 м² 
								p <b>Автоматизация:</b> освещение, теплые полы, вентиляция, шторы
							.rs-project__text-item
								p <b>Что было установлено:</b>
								ul 
									li 20 световых зон в восьми помещениях
									li Электрокарниз в одном помещении
									li Теплый пол в двух помещениях
									li Вентиляция в двух помещениях
									li Розетки из нашего ассортимента
									li Датчики из нашего ассортимента
								
							.rs-project__text-item
								p <b>Стоимость:</b> 92 000 рублей
							.rs-project__text-item
								.btns 
									a(href="/").btn Больше про услугу
									a(href="/").btn._white Смотреть обзор умной квартиры
							
					.rs-project__img-wrap 
						img(src="img/projects.webp", alt="")
				
			.rs-projects__swiper-bottom
				button(type="button").rs-projects__swiper-prev
					<svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="28.5" cy="28.5" r="27.8049" fill="white" fill-opacity="0.3" stroke="currentColor" stroke-width="1.39024"/>
						<path d="M33.3657 15.2925L20.8535 27.8047L33.3657 40.3169" stroke="currentColor" stroke-width="1.39024"/>
					</svg>

				.rs-projects__swiper-pagi
				button(type="button").rs-projects__swiper-next
					<svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="28.5" cy="28.5" r="27.8049" transform="rotate(-180 28.5 28.5)" fill="white" fill-opacity="0.3" stroke="currentColor" stroke-width="1.39024"/>
						<path d="M23.6343 41.7075L36.1465 29.1953L23.6343 16.6831" stroke="currentColor" stroke-width="1.39024"/>
					</svg>


