@import '../../layout/css/mixin.scss';

.rs-advantages{
	&__grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:u(40);
	
		@include tablet{
			grid-template-columns: 1fr 1fr;
			gap:u(20);
		}
		@include mobile{
			grid-template-columns: 1fr;
		}
	}
}

.rs-advantage{
	height: auto;
	min-height: auto;
	padding: u(64) u(23);
	position: relative;
	@include br;
	overflow: hidden;
	&__bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--osnovnoy);
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content{
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: #f6f6f6;
		h4,.h4{
			margin-top: 0;
			margin-bottom: u(16);
		}
		p{
			color: #f6f6f6;
		}
	}
	&__icon{
		height: u(78);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: u(48);
	}
}