mixin item(bg,icon,title,p)
	.rs-advantage( )
		.rs-advantage__bg 
			img(src="img/"+bg+".webp", alt="")
		.rs-advantage__content
			img(src="img/"+icon+".svg", alt="").rs-advantage__icon
			h4= title 
			p= p
			

.rs-advantages.block(data-aos = "fade-up")
	.block__head 
		h2 Каталог умных решений для жизни
		.block__decor(data-x="l" data-y="b" type="5")
		.block__decor(data-x="r" data-y="t" type="6")
	.block__body 
		.rs-advantages__grid
			+item("advantage-bg-1","advantage-icon-1","Проверенные устройства","Мы тщательно проверяем все наши устройства на работу с разными голосовыми помощниками через связку с родными приложениями Digma SmartLife, Smart Life, Ewelink и др.")
			+item("advantage-bg-2","advantage-icon-2","Быстрая доставка","Благодаря нашей складской системе, за счёт которой товары находятся одновременно во многих городах, 80% клиентов получают свои гаджеты на следующий день после покупки.")
			+item("advantage-bg-3","advantage-icon-3","Обновление ассортимента","Регулярно пополняем наш ассортимент. А ещё мы часто посещаем зарубежные выставки, посвящённые умным домам, в Китае. Вы сможете первыми получать новые умные устройства.")
			+item("advantage-bg-4","advantage-icon-4","Расширенная гарантия","На все устройства, включая ремонт, сервис и замену неисправных устройств, а также полный возврат средств в течение всего гарантийного срока при технической неисправности товара.")
			+item("advantage-bg-5","advantage-icon-5","Служба поддержки","Ежедневно отвечаем на все ваши вопросы, консультируем по умным устройствам, делаем подбор оборудования для квартир, домов и офисов.")
			+item("advantage-bg-6","advantage-icon-6","Умный дом под ключ","Мы не только поможем с выбором и настройкой умных гаджетов, но и установим умный дом под ключ. Наши инженеры выполняют работы с учётом всех ваших пожеланий.")