@import '../../layout/css/mixin.scss';

.rs-faqs{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: u(24) u(40);
	--h2:0;
	@include tablet{
		grid-template-columns: 1fr;
		gap: u(30);
	}
}
.block:has(.rs-faq){
	position: relative;
	z-index: 10;
}
.rs-faq{
	display: flex;
	position: relative;
	flex-direction: column;
	&:hover,
	&._open{
		z-index: 10;
	}
	&::before{
		display: block;
		content: '';
		background: #f5f5f5;
		position: absolute;
		left: 0;
		top: 0;
		@include br;
		width: 100%;
		
		transition:box-shadow 0.5s, height 0.5s;
		height: calc(var(--h));
	}
	&._open::before{
		box-shadow: 9px 9px 20px 0px #0000002b;
	}
	&__head{
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		@include br;
		cursor: pointer;
		height: u(104);
		padding:u(28) u(40);
		padding-right: u(95);
		position: relative;
		background: #f5f5f5;
	}
	&__toggle{
		width: u(48);
		height: u(48);
		position: absolute;
		right: u(40);
		top: 50%;
		cursor: pointer;
		transform: translateY(-50%);
		&::before{
			
			content: '';
			display: block;
			width: u(35);
			height: 1px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
			background: var(--cvet-klientov);
		}
		
		&::after{
			content: '';
			display: block;
			height: u(35);
			width: 1px;
			position: absolute;
			left: 50%;
			top: 50%;
			transition: height 0.3s;
			transform: translateY(-50%) translateX(-50%);
			background: var(--cvet-klientov);
			.rs-faq._open &{
				height: 1px;
			}
		}
	}
	&__title{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: u(21);
		line-height: 148%;
		color: var(--cvet-klientov);
	}
	&__body-wrap{
		max-height: var(--h2);
		transition: max-height 0.5s;
		top: 100%;
		position: absolute;
		overflow: hidden;
	}
	&__body{
		padding: u(40);
		padding-top: 0;
	}
}