.rs-top.rs-top-front 
	.rs-top-front__bg
		picture
			<source media="(max-width: 992px)" srcset="img/top-front-mob.webp" />
			img(src="img/top-front.webp", alt="")
	.rs-top-front__inner.inner 
		.rs-top-front__content 
			.rs-top-front__title ИЗБА ТЭК
			.rs-top-front__desc Впусти технологии в свой дом!

