@import '../../layout/css/mixin.scss';

.rs-top-front{
	border-radius: 0 0 u(64) u(64);
	overflow: hidden;
	position: relative;
	color: #fff;
	width: calc(100vw - var(--scrollbar-width, 0px));
	left: 50%; 
	margin-bottom: u(144);
	transform: translateX(-50%);
	&__bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__inner{
		min-height: 100svh;
		padding-bottom: u(136);
		padding-top: u(170);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		z-index: 2;
	}
	&__title{
		font-family: var(--third-family);
		font-weight: 500;
		font-size: u(218);
		text-align: center;
		line-height: 82%;
		
		@include mobile{
			font-size: 108px;
		}
	}
	&__desc{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: u(32);
		line-height: 138%;
		@include mobile{
			font-size: 16px;
		}
	}
}