.rs-marketplace.rs-card-bg
	h3 Мы на маркетплейсах
	ul.rs-marketplace__list
		li 
			a(href="/").rs-marketplace__item
				img(src="img/ozon.svg", alt="")
		li 
			a(href="/").rs-marketplace__item
				img(src="img/wb.svg", alt="")
		li 
			a(href="/").rs-marketplace__item
				img(src="img/ym.svg", alt="")
