@import '../../layout/css/mixin.scss';

.rs-cookie-disclaimer{
	position: fixed;
	left: u(24);
	bottom: u(24);
	background: #f5f5f5;
	border-radius: u(48);
	padding: u(16);
	padding-left: u(32);
	z-index: 100;
	max-width: u(622);
	display: flex;
	flex-direction: row;
	gap: u(16);
	align-items: center;
	p{
		font-family: var(--font-family);
font-weight: 400;
font-size: 15px;
line-height: 124%;
color: var(--cvet-klientov);
margin: 0;
@include mobile{
	font-size: 12px;
}
a{
	text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--cvet-klientov);
&:hover{
	text-decoration: none;
}
}
	}
}