template.js-cookie-disclaimer-template
	.rs-cookie-disclaimer.js-cookie-disclaimer
		p Мы используем cookies. Используя сайт, вы соглашаетесь на обработку
			a(href="/")  персональных данных.
		button.rs-cookie-disclaimer__agree-btn.btn.js-cookie-disclaimer-agree Хорошо
