@use 'sass:math';

$desktop: 1600;
$medium: 900;
$tablet: 599;


@mixin desktop {
	@media (min-width: ($desktop * 1px)) {
		@content;
	}
}

@mixin medium {
	@media (max-width: ($desktop * 1px)) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: ($medium * 1px)) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: ($tablet * 1px)) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: ($tablet * 1px)) {
		@content;
	}
}

@mixin min-desktop {
  @media (min-width: #{$desktop + 1}px) {
    @content;
  }
}

@mixin min-medium {
  @media (min-width: #{$medium + 1}px) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: #{$tablet + 1}px) {
    @content;
  }
}

@function u($value) {
	@return calc(#{$value} * var(--width-multiplier));
	// @return #{$value} + "px";
}

@mixin hover {
	@media (hover: hover) {
		&:not([disabled]):hover {
			@content;
		}
	}
}

@mixin lh($fontValue, $heightValue) {
	$my_width: calc($heightValue / $fontValue) * 100%;
	line-height: $my_width;
}

@function strip-units($number) {
	@return math.div($number, $number * 0 + 1)
}

@mixin clampf($min-fs, $max-fs, $min-w: 375px, $max-w: 1440px) {
	$mf: strip-units($max-fs - $min-fs);
	$mw: strip-units($max-w - $min-w);

	& {
		font-size: #{$min-fs};
		font-size: clamp($min-fs, calc(#{$min-fs} + #{$mf} * ((100vw - #{$min-w}) / #{$mw})), $max-fs);
	}

}

@mixin clamp($style, $min-fs, $max-fs, $min-w: 375px, $max-w: 1440px) {
	$mf: strip-units($max-fs - $min-fs);
	$mw: strip-units($max-w - $min-w);
	$calc-expression: unquote(
		'calc(#{$min-fs} + #{$mf} * ((100vw - #{$min-w}) / #{$mw}))'
  );
	& {
		#{$style}: $max-fs;
		#{$style}: clamp($min-fs, $calc-expression, $max-fs);
	}

}

// @mixin clampMedia($style,$mobile, $tablet, $medium, $large){
// 	@include clamp($style,$medium, $large, 1366px, 1920px);
// 	@media (max-width:1366px){
// 		@include clamp($style,$tablet, $medium, 768px, 1366px);
// 	}
// 	@media (max-width:768px){
// 		@include clamp($style,$mobile, $tablet, 360px, 768px);
// 	}
// }


@mixin clampMedia($style,$mobile, $tablet, $medium, $large){
	#{$style}: $large;
	@include medium(){
		#{$style}: $medium;
	}
	@include tablet(){
		#{$style}: $tablet;
	}
	@include mobile(){
		#{$style}: $mobile;
	}
}

@mixin br{
	border-radius: u(48);
}