.rs-footer-top {
  border-radius: calc(64 * var(--width-multiplier)) calc(64 * var(--width-multiplier)) 0 0;
  padding: calc(40 * var(--width-multiplier));
  padding-bottom: calc(100 * var(--width-multiplier));
  background: var(--cvet-klientov);
}

.rs-footer-top__icons {
  display: flex;
  flex-direction: row;
  gap: calc(40 * var(--width-multiplier));
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.rs-footer-top__icons a {
  transition: transform 0.5s;
}

.rs-footer-top__icons a:hover {
  transform: scale(1.1);
}

.rs-footer-middle {
  margin-top: calc(-74 * var(--width-multiplier));
  border-radius: calc(64 * var(--width-multiplier)) calc(64 * var(--width-multiplier)) 0 0;
  background-color: var(--osnovnoy);
  background-image: url(../img/bg.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding: calc(57 * var(--width-multiplier)) 0 calc(100 * var(--width-multiplier));
}

.rs-footer-middle__top {
  display: grid;
  grid-template-columns: 752fr 660fr;
  gap: calc(152 * var(--width-multiplier));
}

.rs-footer-middle__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(40 * var(--width-multiplier));
}

.rs-footer-middle__contact {
  padding: calc(43 * var(--width-multiplier)) calc(37 * var(--width-multiplier));
  border-radius: calc(48 * var(--width-multiplier));
  background: #fff;
  color: var(--cvet-klientov);
}

.rs-footer-middle__contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--width-multiplier));
}

.rs-footer-middle__contact ul li {
  padding-left: calc(24 * var(--width-multiplier));
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(16 * var(--width-multiplier));
  line-height: 160%;
  color: var(--cvet-klientov);
}

.rs-footer-middle__contact ul li .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(18 * var(--width-multiplier));
  height: calc(18 * var(--width-multiplier));
}

.rs-footer-middle__contact ul li a {
  color: var(--cvet-klientov);
}

.rs-footer-middle__menu-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.rs-footer-middle__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--width-multiplier));
}

.rs-footer-middle__menu ul a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: calc(16 * var(--width-multiplier));
  line-height: 160%;
  color: var(--belyy);
}

.rs-footer-middle__menu ul a:hover {
  opacity: 0.8;
}

.rs-footer-middle__menu-title {
  font-family: var(--font-family);
  font-weight: 700;
  margin-bottom: calc(12 * var(--width-multiplier));
  font-size: calc(18 * var(--width-multiplier));
  line-height: 156%;
  color: var(--belyy);
  opacity: 0.8;
}

.rs-footer-middle__bottom {
  display: flex;
  flex-direction: row;
  margin-top: calc(40 * var(--width-multiplier));
}

.rs-footer-middle__bottom-left {
  display: flex;
  flex-direction: row;
  gap: calc(40 * var(--width-multiplier));
  align-items: center;
  margin-right: auto;
}

.rs-footer-middle__socials {
  display: flex;
  flex-direction: row;
  gap: calc(16 * var(--width-multiplier));
  margin: 0;
  padding: 0;
  list-style: none;
}

.rs-footer-middle__socials a {
  display: block;
  transition: transform 0.6s;
}

.rs-footer-middle__socials a:hover {
  transform: scale(1.2);
}

.rs-footer-middle__socials .icon {
  width: calc(36 * var(--width-multiplier));
  height: calc(36 * var(--width-multiplier));
}

.rs-footer-bottom {
  margin-top: calc(-60 * var(--width-multiplier));
  border-radius: calc(64 * var(--width-multiplier)) calc(64 * var(--width-multiplier)) 0 0;
  padding: calc(27 * var(--width-multiplier)) 0;
  background: var(--cvet-klientov);
}

.rs-footer-bottom__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rs-footer-bottom__copy {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: calc(16 * var(--width-multiplier));
  text-align: center;
  line-height: 160%;
  color: var(--belyy);
}

.rs-footer-bottom__up {
  width: calc(51 * var(--width-multiplier));
  height: calc(51 * var(--width-multiplier));
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  margin-left: auto;
  border: 0 solid;
  transition: background 0.5s;
}

.rs-footer-bottom__up:hover {
  background: var(--osnovnoy);
}

.rs-footer-bottom__up img {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .rs-footer-top li {
    flex: 1;
  }

  .rs-footer-top li img {
    width: 100%;
  }

  .rs-footer-middle {
    padding-top: calc(25 * var(--width-multiplier));
  }

  .rs-footer-middle__top {
    grid-template-columns: 1fr;
    gap: calc(50 * var(--width-multiplier));
  }
}

@media (max-width: 599px) {
  .rs-footer-top__icons {
    gap: calc(20 * var(--width-multiplier));
  }

  .rs-footer-middle__contacts {
    grid-template-columns: 1fr;
    gap: calc(20 * var(--width-multiplier));
  }

  .rs-footer-middle__menu-wrap {
    display: none;
  }

  .rs-footer-middle__bottom {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(20 * var(--width-multiplier));
    margin-top: 0;
  }

  .rs-footer-middle__bottom-left {
    flex-direction: column;
    margin-right: 0;
  }

  .rs-footer-bottom__row {
    flex-direction: column;
    gap: 20px;
  }

  .rs-footer-bottom__up {
    margin-right: auto;
  }
}