.rs-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-bottom: calc(21 * var(--width-multiplier));
  padding-top: calc(29 * var(--width-multiplier));
  color: var(--belyy);
  background: var(--osnovnoy);
  transition: transform 0.4s, background 0.4s;
  border-radius: 0 0 calc(64 * var(--width-multiplier)) calc(64 * var(--width-multiplier));
}

.rs-header._scroll {
  transform: translateY(-110%);
}

.rs-header._scroll._view {
  transform: translateY(0);
}

body:has(.rs-top) .rs-header:not(._scroll) {
  background: transparent;
}

.rs-header__bg {
  border-radius: 0 0 calc(64 * var(--width-multiplier)) calc(64 * var(--width-multiplier));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s;
  overflow: hidden !important;
}

body:has(.rs-top) .rs-header:not(._scroll) .rs-header__bg {
  opacity: 0;
}

.rs-header__bg img {
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 0 0 calc(64 * var(--width-multiplier)) calc(64 * var(--width-multiplier));
  top: 0;
  object-fit: cover;
  object-position: top center;
}

.rs-header__top {
  gap: calc(10 * var(--width-multiplier));
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: calc(16 * var(--width-multiplier));
  z-index: 2;
  justify-content: space-between;
}

.rs-header__logo {
  max-width: calc(149 * var(--width-multiplier));
}

.rs-header__logo svg,
.rs-header__logo img {
  max-width: 100%;
}

.rs-header__phones {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  gap: calc(24 * var(--width-multiplier));
  margin: 0;
}

.rs-header__phones a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: calc(16 * var(--width-multiplier));
  line-height: 160%;
  color: var(--belyy);
}

.rs-header__btns {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  gap: calc(24 * var(--width-multiplier));
}

.rs-header__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 3;
}

.rs-header__menu {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(32 * var(--width-multiplier));
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: auto;
}

.rs-header__menu > li > a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: calc(18 * var(--width-multiplier));
  line-height: 160%;
  color: var(--belyy);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.rs-header__menu > li > a::before {
  position: absolute;
  width: 100%;
  display: block;
  content: "";
  height: 1px;
  top: 100%;
  left: 0;
  background: #fff;
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.rs-header__menu > li > a.active::before,
.rs-header__menu > li > a:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.rs-menu-catalog {
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.rs-menu-catalog:hover > .rs-menu-catalog__sub {
  transform: translateY(0);
}

.rs-menu-catalog li {
  display: block;
  padding: calc(6 * var(--width-multiplier)) calc(24 * var(--width-multiplier));
}

.rs-menu-catalog__sub {
  list-style: none;
  position: absolute;
  border: 1px solid #b79cc1;
  border-radius: calc(24 * var(--width-multiplier));
  background: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  margin: 0;
  z-index: 4;
  padding: calc(24 * var(--width-multiplier)) 0;
  transition: transform 0.5s, opacity 0.5s;
  transform: translateY(30px);
  pointer-events: none;
  top: 100%;
}

.rs-menu-catalog__sub a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: calc(16 * var(--width-multiplier));
  line-height: 160%;
  color: var(--cvet-klientov);
  white-space: nowrap;
  text-decoration: none;
  position: relative;
}

.rs-menu-catalog__sub a::before {
  position: absolute;
  width: 100%;
  display: block;
  content: "";
  height: 1px;
  top: 100%;
  left: calc(0 * var(--width-multiplier));
  width: 100%;
  left: 0;
  background: var(--cvet-klientov);
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

li:hover > .rs-menu-catalog__sub {
  pointer-events: initial;
  opacity: 1;
  transform: translateY(-50);
}

.rs-menu-catalog__sub li.active a::before,
.rs-menu-catalog__sub li:hover > a::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.rs-menu-catalog__sub .rs-menu-catalog__sub {
  top: initial;
  left: 100%;
  transform: translateY(calc(-48 * var(--width-multiplier)));
}

.rs-header-search {
  position: relative;
  width: 100%;
  max-width: calc(501 * var(--width-multiplier));
  border-radius: calc(23 * var(--width-multiplier));
  background: rgba(255, 255, 255, 0.25);
}

.rs-header-search__input {
  width: 100%;
  outline: none;
  padding: calc(13 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
  padding-right: calc(50 * var(--width-multiplier));
  background-color: transparent;
  border: 0 solid;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(14 * var(--width-multiplier));
  line-height: 140%;
}

.rs-header-search__input::placeholder {
  color: #fff;
  opacity: 1;
}

.rs-header-search__submit {
  border: 0 solid;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: calc(5 * var(--width-multiplier));
  top: calc(5 * var(--width-multiplier));
  background: var(--osnovnoy);
  outline: none;
  cursor: pointer;
  transition: background 0.5s;
  height: calc(100% - 10 * var(--width-multiplier));
}

.rs-header-search__submit img {
  width: calc(18 * var(--width-multiplier));
  height: calc(18 * var(--width-multiplier));
  display: block;
}

.rs-header-search__submit:hover {
  background: #d7006f;
}

.rs-header-mob {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  border-radius: 0 0 16px 16px;
  color: var(--belyy);
  transition: transform 0.4s, background 0.4s;
  display: none;
}

.rs-header-mob._scroll {
  background: #fff;
}

.rs-header-mob__search {
  background: #ece7fa;
  padding: 20px 16px;
  width: 100vw;
  left: 50%;
  margin-top: auto;
  transform: translateX(-50%);
  position: relative;
}

.rs-header-mob__search .rs-header-search {
  max-width: 100%;
  background: #fff;
}

.rs-header-mob__search .rs-header-search input {
  font-size: 14px;
  color: var(--osnovnoy-tekst);
}

.rs-header-mob__search .rs-header-search input::placeholder {
  color: var(--osnovnoy-tekst);
}

.rs-header-mob__phones {
  display: flex;
  list-style: none;
  margin: 20px 0;
  padding: 0;
  flex-direction: column;
  gap: 20px;
}

.rs-header-mob__phones li {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: var(--cvet-klientov);
}

.rs-header-mob__phones a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: var(--cvet-klientov);
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.rs-header-mob__head {
  padding-bottom: 8px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 10;
}

.rs-header-mob__logo {
  color: #fff;
  width: 90px;
  margin-right: auto;
}

.rs-header-mob._scroll .rs-header-mob__logo,
.rs-header-mob._open .rs-header-mob__logo {
  color: var(--osnovnoy);
}

.rs-header-mob__menu-open {
  font-size: 13px !important;
  font-family: var(--font-family);
  font-weight: 600;
}

.rs-header-mob._open .rs-header-mob__menu-open {
  display: none;
}

.rs-header-mob__menu-close {
  display: none;
}

.rs-header-mob._open .rs-header-mob__menu-close {
  display: flex;
  font-size: 13px !important;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--osnovnoy) !important;
  box-shadow: inset 0 0 0 1px var(--osnovnoy);
}

.rs-header-mob__body {
  position: absolute;
  min-height: 100dvh;
  background: #fff;
  border-top: 1px solid var(--sistemnye-ikonki);
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  transform: translateY(-110%);
}

.rs-header-mob._open .rs-header-mob__body {
  transform: translateY(0);
}

.rs-header-mob-catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--obvodka);
}

.rs-header-mob-catalog:has(li._open) > li {
  display: none;
}

.rs-header-mob-catalog:has(li._open) li._open {
  display: block;
}

.rs-header-mob-catalog:has(li._open) li._open > .rs-header-mob-catalog__head > .rs-header-mob-catalog__go {
  display: none;
}

.rs-header-mob-catalog:has(li._open) li._open > .rs-header-mob-catalog__head > .rs-header-mob-catalog__back {
  display: block;
}

.rs-header-mob-catalog:has(li._open) li._open > .rs-header-mob-catalog__head {
  border-bottom: 1px solid var(--obvodka);
}

.rs-header-mob-catalog:has(li._open) li._open > .rs-header-mob-catalog__head > a {
  padding: 20px 0;
  text-align: center;
}

.rs-header-mob-catalog:has(li._open) li._open > ul {
  display: block;
}

.rs-header-mob-catalog li._hidden > .rs-header-mob-catalog__head {
  display: none !important;
}

.rs-header-mob-catalog li._hidden > ul > li:not(._open) {
  display: none !important;
}

.rs-header-mob-catalog ul {
  display: none;
  padding: 0;
}

.rs-header-mob-catalog LI {
  position: relative;
}

.rs-header-mob-catalog__head {
  position: relative;
}

.rs-header-mob-catalog a {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  display: block;
  font-size: 15px;
  line-height: 130%;
  color: var(--cvet-klientov);
}

.rs-header-mob-catalog__back {
  display: none;
}

.rs-header-mob-catalog__go {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0 solid;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzQxMjlfMjUwNTkpIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAxXzQxMjlfMjUwNTkpIj4KPHBhdGggZD0iTTMgMTFMOCA2TDMgMSIgc3Ryb2tlPSIjNDEwMDUwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfNDEyOV8yNTA1OSI+CjxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPGNsaXBQYXRoIGlkPSJjbGlwMV80MTI5XzI1MDU5Ij4KPHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.rs-header-mob-catalog__back {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  transform: scale(-1);
  opacity: 0.5;
  background: transparent;
  border: 0 solid;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzQxMjlfMjUwNTkpIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAxXzQxMjlfMjUwNTkpIj4KPHBhdGggZD0iTTMgMTFMOCA2TDMgMSIgc3Ryb2tlPSIjNDEwMDUwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfNDEyOV8yNTA1OSI+CjxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPGNsaXBQYXRoIGlkPSJjbGlwMV80MTI5XzI1MDU5Ij4KPHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.mob-fix {
  display: none;
  border-radius: 16px 16px 0 0;
  padding: 5px 16px;
  background: var(--cvet-klientov);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  max-width: 500px;
  z-index: 29;
}

.mob-fix ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}

.mob-fix__counter {
  position: absolute;
  right: 9px;
  top: 1px;
  border-radius: 50px;
  padding: 0 3px;
  background: #d7006f;
}

.mob-fix__link {
  min-width: 62px;
  position: relative;
  border-radius: 7px;
  padding: 6px 7px;
  color: #fff;
  display: block;
}

.mob-fix__link._active {
  background: var(--osnovnoy);
}

.mob-fix__link .icon {
  height: 18px;
  margin-left: auto;
  margin: auto;
}

.mob-fix__link span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11px;
  line-height: 160%;
  color: var(--belyy);
  display: block;
}

@media (max-width: 992px) {
  .rs-header {
    display: none;
  }

  .rs-header-mob {
    display: block;
  }

  .mob-fix {
    display: block;
  }
}