.rs-card-grey
	ul.rs-steps 
		li Познакомим с продукцией и покажем основные функции управления
		li Расскажем, как организовать умный дом по вашему запросу
		li Поделимся всеми возможностями создания автоматических сценариев
		li Обсудим все протоколы связи и их совместимость