.rs-header
	.rs-header__bg 
		img(src="img/bg.webp", alt="")

	.inner
		.rs-header__top
			a.rs-header__logo(href="/")
				+sprite('logo')
			form.rs-header__search.rs-header-search(action="/" method="get")
				input(type="text" placeholder="Поиск товара").rs-header-search__input
				button(type="submit").rs-header-search__submit
					+sprite('search')
			ul.rs-header__phones 
				li 
					a(href="tel:+79959110406")  +7 (995) 911-04-06
				li 
					a(href="tel:+79936331517")  +7 (993) 633-15-17
			ul.rs-header__btns 
				li 
					a(href="").btn._purple
						+sprite('basket')
						span Корзина
				li
					a(href="").btn._purple
						+sprite('user')
						span Войти
		.rs-header__bottom 
			ul.rs-header__menu
				li.rs-menu-catalog
					a(href="/") Каталог
					ul.rs-menu-catalog__sub
						li 
							a(href="/") Выключатели
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Реле
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Системы отопления
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
									ul.rs-menu-catalog__sub
										li 
											a(href="/") Выключатели
										li 
											a(href="/") Реле
										li 
											a(href="/") Системы отопления
										li 
											a(href="/") Карнизы и моторы
										li 
											a(href="/") Освещение
										li 
											a(href="/") Розетки
										li 
											a(href="/") Карнизы и моторы
										li 
											a(href="/") Освещение
										li 
											a(href="/") Розетки
						li 
							a(href="/") Карнизы и моторы
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Освещение
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Розетки
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки

				li 
					a(href="/") Умный дом
				li 
					a(href="/") Покупателям
				li 
					a(href="/") О компании
				li 
					a(href="/") Контакты
			a(href="/").rs-header__feedback.btn-border
				+sprite('feedback')
				span Служба заботы


