.rs-header
	.rs-header__bg 
		img(src="img/bg.webp", alt="")

	.inner
		.rs-header__top
			a.rs-header__logo(href="/")
				+sprite('logo')
			form.rs-header__search.rs-header-search(action="/" method="get")
				input(type="text" placeholder="Поиск товара").rs-header-search__input
				button(type="submit").rs-header-search__submit
					+sprite('search')
			ul.rs-header__phones 
				li 
					a(href="tel:+79959110406")  +7 (995) 911-04-06
				li 
					a(href="tel:+79936331517")  +7 (993) 633-15-17
			ul.rs-header__btns 
				li 
					a(href="").btn._purple
						+sprite('basket')
						span Корзина
				li
					a(href="").btn._purple
						+sprite('user')
						span Войти
		.rs-header__bottom 
			ul.rs-header__menu
				li.rs-menu-catalog
					a(href="/") Каталог
					ul.rs-menu-catalog__sub
						li 
							a(href="/") Выключатели
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Реле
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Системы отопления
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
									ul.rs-menu-catalog__sub
										li 
											a(href="/") Выключатели
										li 
											a(href="/") Реле
										li 
											a(href="/") Системы отопления
										li 
											a(href="/") Карнизы и моторы
										li 
											a(href="/") Освещение
										li 
											a(href="/") Розетки
										li 
											a(href="/") Карнизы и моторы
										li 
											a(href="/") Освещение
										li 
											a(href="/") Розетки
						li 
							a(href="/") Карнизы и моторы
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Освещение
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						li 
							a(href="/") Розетки
							ul.rs-menu-catalog__sub
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки

				li 
					a(href="/") Умный дом
				li 
					a(href="/") Покупателям
				li 
					a(href="/") О компании
				li 
					a(href="/") Контакты
			a(href="/").rs-header__feedback.btn-border
				+sprite('feedback')
				span Служба заботы
.rs-header-mob
	.rs-header-mob__head.inner 
		a(href="/").rs-header-mob__logo
			<svg width="90" height="21" viewBox="0 0 90 21" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_4129_25508)">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M19.3594 7.84028L11.8497 0.703932C10.9328 -0.167343 9.48692 -0.167343 8.56993 0.703932L1.0598 7.84028C0.592364 8.28435 0.328125 8.89886 0.328125 9.54087V18.3723C0.328125 19.6724 1.38978 20.7267 2.69989 20.7267H17.7198C19.0294 20.7267 20.0915 19.6728 20.0915 18.3723V9.54087C20.0915 8.89841 19.8273 8.28435 19.3599 7.84028H19.3594ZM4.36938 11.5948C8.02518 11.5948 10.9916 8.98295 11.0151 5.75313V10.3012C11.0151 11.0157 11.6697 11.595 12.4772 11.595H16.0829C12.4169 11.5996 9.44672 14.2305 9.44672 17.4753V12.8886C9.44672 12.1741 8.79212 11.595 7.9846 11.595H4.36933L4.36938 11.5948Z" fill="currentColor"/>
				<path d="M19.3595 7.84051L19.3483 7.85208L19.353 7.85659H19.3595V7.84051ZM19.36 7.84051L19.3712 7.82886L19.3665 7.82435H19.36V7.84051ZM11.0152 5.75335H11.0314L10.999 5.7532L11.0152 5.75335ZM16.083 11.5952V11.6113V11.579V11.5952ZM9.44683 17.4755H9.43056H9.46303H9.44683ZM4.36944 11.5952H4.35322V11.6113H4.36944V11.5952ZM4.36944 11.595V11.5789H4.35322V11.595H4.36944ZM11.8498 0.704156L11.8386 0.715789L19.3483 7.85208L19.3595 7.84051L19.3707 7.82886L11.8611 0.692523L11.8498 0.704156ZM8.57005 0.704156L8.58125 0.715789C9.49195 -0.149518 10.9279 -0.149518 11.8386 0.715789L11.8498 0.704156L11.8611 0.692523C10.9378 -0.184719 9.48203 -0.184719 8.55884 0.692523L8.57005 0.704156ZM1.05991 7.84051L1.07113 7.85208L8.58125 0.715789L8.57005 0.704156L8.55884 0.692523L1.04869 7.82886L1.05991 7.84051ZM0.328235 9.54109H0.344465C0.344465 8.90344 0.606895 8.29322 1.07113 7.85208L1.05991 7.84051L1.04869 7.82886C0.57806 8.27601 0.312012 8.89465 0.312012 9.54109H0.328235ZM0.328235 18.3725H0.344465V9.54109H0.328235H0.312012V18.3725H0.328235ZM2.7 20.727V20.7108C1.39886 20.7108 0.344465 19.6637 0.344465 18.3725H0.328235H0.312012C0.312012 19.6815 1.38093 20.7431 2.7 20.7431V20.727ZM17.7199 20.727V20.7108H2.7V20.727V20.7431H17.7199V20.727ZM20.0917 18.3725H20.0754C20.0754 19.6641 19.0206 20.7108 17.7199 20.7108V20.727V20.7431C19.0386 20.7431 20.1078 19.6819 20.1078 18.3725H20.0917ZM20.0917 9.54109H20.0754V18.3725H20.0917H20.1078V9.54109H20.0917ZM19.36 7.84051L19.3488 7.85208C19.813 8.29322 20.0754 8.90306 20.0754 9.54109H20.0917H20.1078C20.1078 8.89427 19.8418 8.27601 19.3712 7.82886L19.36 7.84051ZM19.3595 7.84051V7.85659H19.36V7.84051V7.82435H19.3595V7.84051ZM11.0152 5.75335L10.999 5.7532C10.9755 8.97258 8.01813 11.5789 4.36944 11.5789V11.595L4.36949 11.6111C8.03241 11.6111 11.0078 8.99377 11.0314 5.75335H11.0152ZM11.0152 10.3015H11.0314V5.75335H11.0152H10.999V10.3015H11.0152ZM12.4773 11.5952V11.579C11.6769 11.579 11.0314 11.0053 11.0314 10.3015H11.0152H10.999C10.999 11.0265 11.6626 11.6113 12.4773 11.6113V11.5952ZM16.083 11.5952V11.579H12.4773V11.5952V11.6113H16.083V11.5952ZM9.44683 17.4755H9.46303C9.46303 14.2413 12.4242 11.6159 16.083 11.6113V11.5952V11.579C12.41 11.5837 9.43063 14.2202 9.43056 17.4755H9.44683ZM9.44683 12.8888H9.43056V17.4755H9.44683H9.46303V12.8888H9.44683ZM7.98471 11.5952V11.6113C8.78504 11.6113 9.43056 12.185 9.43056 12.8888H9.44683H9.46303C9.46303 12.1638 8.79935 11.579 7.98471 11.579V11.5952ZM4.36944 11.5952V11.6113H7.98471V11.5952V11.579H4.36944V11.5952ZM4.36944 11.595H4.35322V11.5952H4.36944H4.38567V11.595H4.36944Z" fill="currentColor"/>
				<path d="M30.9597 20.5608V9.89685L28.8006 20.5608H25.7886V0.873556H28.8006V11.5375L30.9597 0.873556H33.9718V20.5608H30.9597ZM37.8804 4.73691V7.85936H34.9216V4.52522C34.9216 2.35539 36.0145 0.688324 38.3869 0.688324H38.9999C41.6922 0.688324 42.6518 1.93201 42.6518 4.18122V7.46241C42.6518 9.02367 41.8521 9.81749 41.159 10.0821C42.092 10.3731 42.8917 11.1935 42.8917 12.9664V17.1738C42.8917 18.9995 41.9588 20.799 39.2665 20.799H38.4668C36.0945 20.799 34.9216 19.0525 34.9216 17.4119V13.0987H37.8804V16.8297C37.8804 17.4648 38.2269 17.8882 38.8667 17.8882C39.5064 17.8882 39.8263 17.4913 39.8263 16.8297V12.8341C39.8263 12.199 39.4797 11.8815 38.8933 11.8815H37.5339V8.89133H38.8933C39.3731 8.89133 39.5864 8.49446 39.5864 7.46241V4.73691C39.5864 3.94307 39.2932 3.54615 38.7334 3.54615C38.1203 3.54615 37.8804 4.02246 37.8804 4.73691ZM43.854 20.5608V0.873556H51.1309V3.73138H46.8661V8.49446H48.6253C50.6779 8.49446 51.7174 9.79103 51.7174 12.1197V17.1209C51.7174 19.4759 50.7578 20.5608 48.6253 20.5608H43.854ZM46.8661 17.703H47.6391C48.5187 17.703 48.6786 17.1209 48.6786 16.3534V12.7811C48.6786 11.9873 48.5454 11.3523 47.6391 11.3523H46.8661V17.703ZM57.6903 20.5608L57.2905 16.8563H55.1047L54.7049 20.5608H52.0127L54.4384 0.873556H58.0102L60.5958 20.5608H57.6903ZM55.398 13.919H56.9706L56.171 6.64214L55.398 13.919ZM71.4704 3.73138H68.9382V20.5608H65.9527V3.73138H63.4205V0.873556H71.4704V3.73138ZM80.0375 16.6446C80.0375 18.6291 79.3713 20.799 76.3326 20.799H75.6665C72.7608 20.799 72.0677 18.6556 72.0677 16.5387V13.0987H75.0268V16.5651C75.0268 17.359 75.2932 17.8882 76.0124 17.8882C76.6794 17.8882 76.9723 17.4119 76.9723 16.5387V11.8815H73.9336V8.89133H76.9723V4.84276C76.9723 3.96953 76.7861 3.54615 76.0397 3.54615C75.2932 3.54615 75.0268 3.996 75.0268 4.84276V7.85936H72.0677V4.78984C72.0677 2.85816 72.4408 0.688324 75.7459 0.688324H76.4394C79.1579 0.688324 80.0375 2.62 80.0375 4.63107V16.6446ZM86.5956 20.5608L84.0899 12.0138V20.5608H81.0784V0.873556H84.0899V8.75906L86.4624 0.873556H89.3943L86.5956 10.0292L89.6881 20.5608H86.5956Z" fill="currentColor"/>
				</g>

			</svg>
		.rs-header-mob__menu-open.btn
			<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.07715 6.96164H12.9233" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M1.07715 2.6926H12.9233" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M1.07715 11.2307H12.9233" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			span Меню
		.rs-header-mob__menu-close.btn-border
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_5964_4634)">
				<path d="M1 1L11 11M11 1L1 11" stroke="#410050" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</g>
			</svg>

			span Закрыть
	.rs-header-mob__body.inner
		ul.rs-header-mob-catalog 
			li.rs-header-mob-catalog__is-drop
				.rs-header-mob-catalog__head
					a(href="/")  Каталог
					button.rs-header-mob-catalog__back(type="button")
					button.rs-header-mob-catalog__go(type="button")
				ul
					li.rs-header-mob-catalog__is-drop
						.rs-header-mob-catalog__head
							a(href="/") Каталог 
							button.rs-header-mob-catalog__back(type="button")
							button.rs-header-mob-catalog__go(type="button")
						ul 
							li 
								a(href="/") Каталог 2 
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
					li.rs-header-mob-catalog__is-drop
						.rs-header-mob-catalog__head
							a(href="/") Каталог 
							button.rs-header-mob-catalog__back(type="button")
							button.rs-header-mob-catalog__go(type="button")
						ul 
							li 
								a(href="/") Каталог 2 
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
					li.rs-header-mob-catalog__is-drop
						.rs-header-mob-catalog__head
							a(href="/") Каталог 
							button.rs-header-mob-catalog__back(type="button")
							button.rs-header-mob-catalog__go(type="button")
						ul 
							li 
								a(href="/") Каталог 2 
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
					li.rs-header-mob-catalog__is-drop
						.rs-header-mob-catalog__head
							a(href="/") Каталог 
							button.rs-header-mob-catalog__back(type="button")
							button.rs-header-mob-catalog__go(type="button")
						ul 
							li 
								a(href="/") Каталог 2 
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button")
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
							li 
								a(href="/") Каталог 2
								button.rs-header-mob-catalog__back(type="button") 
			li 
				a(href="/") Умный дом
				button.rs-header-mob-catalog__go(type="button")
			li 
				a(href="/") Покупателям
				button.rs-header-mob-catalog__go(type="button")
			li 
				a(href="/") О компании
				button.rs-header-mob-catalog__go(type="button")
			li 
				a(href="/") Контакты
				button.rs-header-mob-catalog__go(type="button")
		form.rs-header-mob__search
			.rs-header-search(action="/" method="get")
				input(type="text" placeholder="Поиск товара").rs-header-search__input
				button(type="submit").rs-header-search__submit
					+sprite('search')
		ul.rs-header-mob__phones 
			li Свяжитесь с нами
			li 
				a(href="tel:+79959110406") 
					+sprite('phone') 
					| +7 (995) 911-04-06
			li 
				a(href="tel:+79936331517") 
					+sprite('phone') 
					| +7 (993) 633-15-17
		a(href="/").rs-header-mob__feedback.btn
				+sprite('feedback')
				span Служба заботы