footer.rs-footer
	.rs-footer-top
		.inner
			ul.rs-footer-top__icons
				li 
					a(href="/") 
						img(src="img/footer-logo-1.svg", alt="").rs-footer-top__icon-1
				li 
					a(href="/") 
						img(src="img/footer-logo-2.svg", alt="").rs-footer-top__icon-2
				li 
					a(href="/") 
						img(src="img/footer-logo-3.svg", alt="").rs-footer-top__icon-3
				li 
					a(href="/") 
						img(src="img/footer-logo-4.svg", alt="").rs-footer-top__icon-4
				li 
					a(href="/") 
						img(src="img/footer-logo-5.svg", alt="").rs-footer-top__icon-5
	.rs-footer-middle
		.inner
			.rs-footer-middle__top
				div
					.rs-footer-middle__contacts
						.rs-footer-middle__contact
							h5 Шоурум в Санкт-Петербурге
							ul 
								li
									+sprite('phone-dark')
									a(href="tel:+79959110406") +7 (995) 911-04-06
								li 
									+sprite('time-dark')
									| Пн–Пт с 10:00 до 19:00
								li 
									+sprite('marker-dark')
									|ул. Магнитогорская, д. 11, БЦ&nbsp;«Магнит», офис 411
								li 
									+sprite('tg-dark')
									| Telegram: 
									a(href="/") @IzbaTech_Help
						.rs-footer-middle__contact
							h5 Шоурум в Москве
							ul 
								li
									+sprite('phone-dark')
									a(href="tel:+79936331517") +7 (993) 633-15-17
								li 
									+sprite('time-dark')
									| Пн–Пт с 10:00 до 19:00
								li 
									+sprite('marker-dark')
									|ул. 3-я Хорошевская, д. 2, стр. 1, офис 616
								li 
									+sprite('tg-dark')
									| Telegram: 
									a(href="/") @Izbatech_moscow
				div 
					.rs-footer-middle__menu-wrap
						.rs-footer-middle__menu
							.rs-footer-middle__menu-title Покупателям
							ul 
								li 
									a(href="/") О компании
								li 
									a(href="/") Оплата и доставка
								li 
									a(href="/") Возврат и обмен
								li 
									a(href="/") Гарантии
								li 
									a(href="/") Поддержка
								li 
									a(href="/") FAQ
								li 
									a(href="/") Контакты
						.rs-footer-middle__menu
							.rs-footer-middle__menu-title Каталог
							ul 
								li 
									a(href="/") Выключатели
								li 
									a(href="/") Реле
								li 
									a(href="/") Системы отопления
								li 
									a(href="/") Карнизы и моторы
								li 
									a(href="/") Датчики
								li 
									a(href="/") Освещение
								li 
									a(href="/") Розетки
						.rs-footer-middle__menu
							.rs-footer-middle__menu-title Документы
							ul 
								li 
									a(href="/") Политика обработки персональных данных
								li 
									a(href="/") Публичная оферта
								li 
									a(href="/") Пользовательское соглашение
				
			.rs-footer-middle__bottom
				.rs-footer-middle__bottom-left
					a(href="/").rs-footer-middle__logo 
						+sprite('logo')
					a(href="/").btn-border
						+sprite('feedback')
						span Служба заботы 
				ul.rs-footer-middle__socials 
					li 
						a(href="/")
							+sprite('soc-yt') 
					li 
						a(href="/")
							+sprite('soc-tg') 
					li 
						a(href="/")
							+sprite('soc-vk') 

	.rs-footer-bottom
		.inner
			.rs-footer-bottom__row
				.rs-footer-bottom__copy © Все права защищены. ИП Гребнев С.Е., ИНН 510504930100, ОГРНИП 324510000014559
				button(type="button").rs-footer-bottom__up
					+sprite('up')