@import '../../layout/css/mixin.scss';

.rs-block-about{
	&__top-list{
		padding: 0;
		margin: 0;
		list-style: none;
		margin-bottom: u(40);
		display: grid;
		gap:u(40);
		grid-template-columns: repeat(5,1fr);
		@include tablet{
			gap:u(20);
			grid-template-columns: 1fr 1fr;
		}
		li{
			background: #f5f5f5;
			padding: u(36) u(26);
			@include br;
			.h3,.h3{
				margin: 0;
			}
			p:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: u(40);
		@include tablet{
			gap:u(20);
			grid-template-columns:  1fr;
		}
	}
	&__text{
		background: #f5f5f5;
		padding: u(40);
		@include br;
	}
	&__img{
		position: relative;
		@include br;
		overflow: hidden;
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__quote{
		position: relative;
		@include br;
		overflow: hidden;
		margin-top: u(40);
		padding: u(66);
		background-color: var(--osnovnoy);
		color: #fff;
		background-size: 100% 100%;
		background-position: top;
		background-image:  url('../img/bg.webp');
		text-align: center;
		@include tablet{
			padding: u(40);
		}
		@include mobile{
			// padding: u(20);
		}
		h3,.h3{
			max-width: u(1280);
			margin-left: auto;
			margin-right: auto;
			@include tablet{
				text-transform: none;
				font-size: u(40);
			}
		}
	}
	&__quote-name{
		margin-top: u(40);
		font-family: var(--font-family);
		font-weight: 700;
		font-size: u(32);
		line-height: 148%;
	}
	&__quote-job{
		font-family: var(--font-family);
		font-weight: 400;
		font-size: u(21);
		line-height: 148%;
	}
}