.rs-block-about.block(data-aos = "fade-up")
	.block__head 
		h2 О компании
		.block__decor(data-x="l" data-y="t" type="3")
		.block__decor(data-x="r" data-y="b" type="4")
	.block__body 
		ul.rs-block-about__top-list
			li
				.h3 2019
				p год начала работы
			li 
				.h3 > 150 000 
				p проданных товаров
			li 
				.h3 > 15 000
				p отзывов
			li 
				.h3 > 500
				p видов устройств
			li 
				.h3 > 2 000
				p клиентов в месяц
		.rs-block-about__grid
			.rs-block-about__text.br
				.text
					h3 Наполняем каждый дом волшебством технологий
					p Основные направления нашей деятельности: продажа умных устройств, а также установка умных домов под ключ.
					p Мы хотим помочь людям создавать уютное, комфортное и безопасное пространство для жизни, используя передовые технологии умного дома.
					p Качество и эстетика — не равно дорого, поэтому наша цель — дать возможность каждому нашему клиенту прочувствовать гармонию и уют домашнего пространства!
					.btns
						a(href="/").btn Подробнее о нас
			.rs-block-about__img
				img(src="img/about-1.webp", alt="")
		.rs-block-about__quote 
			.text
				.h3 Наша миссия — наполнить каждый дом волшебством технологий, используя инновации и безупречный сервис, создавая у людей чувство комфорта, безопасности и уюта
			.rs-block-about__quote-name  Семён Гребнев
			.rs-block-about__quote-job Основатель Изба Тэк