.rs-why-buy.rs-card-grey
	h3 Как купить умные устройства дешевле?
	a.btn.rs-why-buy__link(href="#") Интернет-магазин
	.rs-why-buy__desc 
		p В нашем каталоге устройства в среднем на 25% дешевле, чем на маркетплейсах. Почему? Мы продаём напрямую, поэтому&nbsp;цены ниже